@import "../../../styles/variables.scss";

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: $headerSize;
  line-height: $headerSize;
  align-items: center;

  &__columns {
    display: flex;
    flex: 1;
    align-items: center;

    &__text {
      font-weight: 600;
      padding-left: 40px;
    }

    &__cta {
      display: flex;
      justify-content: right;
      flex: 1;
    }
  }
}

@media (max-width: $tablet) {
  .wrapper {
    &__columns {
      flex-direction: column;

      &__text {
        padding-left: 0;
      }

      &__cta {
        align-items: center;
      }

    }
  }
}

button {
  color: $black-color;
  font-weight: 600;
  text-transform: uppercase;
  color: $black-color;
  border: 1px solid $buttonColor;
  background-color: #f3f4f5;
  padding: 10px 20px;
  margin-right: 40px;
  height: 45px;
}