@import ".././../../../styles/variables.scss";

.wrapper {
    font-size: $footerFontSize;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: $footerSize;
    text-align: center;
    background-color: $black-color;
    color: $primary-color;
    line-height: $footerSize;
    border-top: 1px solid $primary-color;
}